<center><br> <img src="https://www.iscte-iul.pt/assets/images/logo_iscte_detailed.svg" style="width: 200px;"></center><br>

<img src="https://i.pinimg.com/originals/2f/63/0c/2f630c8ff0e603d2b159c169d368b7d0.jpg" style="width: 250px;margin-top: 30px;" align="left">
   <div><center><h1>PACD1: Limpeza dos Jogos</h1></center></div>
   <div><center><h3>Projeto Aplicado para Ci√™ncia de Dados I</h3></center></div>
   <div><center><b>Docentes:</b> Diana Mendes <b>|</b> S√©rgio Moro</center></div>
    <br>
    <div><center><h4>Grupo 2</h4></center></div>
    <div><center> Andr√© Silvestre N¬∫104532 <b>|</b> Diogo Catarino N¬∫104745</center></div>
    <div><center>Francisco Gomes N¬∫104944 <b>|</b> Rita Matos N¬∫104936 </center></div>
    <div><center><b>CDB1</b></center>
 <br>    
 <br>

<div style="background: linear-gradient(to right,#67C7ED, #0371B1,#0A6394); 
            padding: .7px; color: white; border-radius: 300px; text-align: center;">
</div>

# √çndice do Notebook


<ol style="list-style-type: upper-roman;font-weight: bold;">
  <li><span style = "font-weight: normal;"><a href="#21">2.1 | Vari√°vel Location</a></span></li>
  <li><span style = "font-weight: normal;"><a href="#22">2.2 | Vari√°vel Tournament</a></span></li>
  <li><span style = "font-weight: normal;"><a href="#23">2.3 | Vari√°vel Date</a></span></li>
  <li><span style = "font-weight: normal;"><a href="#24">2.4 | Vari√°vel Ground</a></span></li>
  <li><span style = "font-weight: normal;"><a href="#25">2.5 | Vari√°vel Prize</a></span></li>
  <li><span style = "font-weight: normal;"><a href="#26">2.6 | Vari√°vel GameRound</a></span></li>
  <li><span style = "font-weight: normal;"><a href="#27">2.7 | Vari√°vel WL</a></span></li>
  <li><span style = "font-weight: normal;"><a href="#28">2.8 | Vari√°vel Score</a></span></li>

</ol>

<div style="background: linear-gradient(to right,#67C7ED, #0371B1,#0A6394); 
            padding: .7px; color: white; border-radius: 300px; text-align: center;">
</div>

# 
<br>
<style>
@import url('https://fonts.cdnfonts.com/css/avenir-next-lt-pro?styles=29974');
</style>

<div style="background: linear-gradient(to right,#67C7ED, #0371B1,#0A6394); 
            padding: 10px; color: white; border-radius: 300px; text-align: center;">
    <center><h1 style="margin-left: 140px;margin-top: 10px; margin-bottom: 4px; color: white;
                       font-size: 32px; font-family: 'Avenir Next LT Pro', sans-serif;">
        <b>2 | Data Preparation (Jogos)</b></h1></center>
</div>

## üìö Import das Bibliotecas

In [1]:
# Bibliotecas que vamos usar no Projeto

## for data
import pandas as pd
import numpy as np

## for plotting
import matplotlib.pyplot as plt
import seaborn as sns
    
## plot style and warnings    
plt.style.use('ggplot')
from IPython.display import display # Allows the use of display() for DataFrames
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_colwidth', -1)  # Visualizar a informa√ß√£o toda

## üßÆ Importar Bases de Dados `df_atp1.csv`

In [2]:
atp = pd.read_csv('df_atp1.csv')
atp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306005 entries, 0 to 1306004
Data columns (total 15 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   PlayerName  1306005 non-null  object
 1   Born        985313 non-null   object
 2   Height      979932 non-null   float64
 3   Hand        1114088 non-null  object
 4   LinkPlayer  1306005 non-null  object
 5   Tournament  1306005 non-null  object
 6   Location    1306005 non-null  object
 7   Date        1306005 non-null  object
 8   Ground      1305818 non-null  object
 9   Prize       1286921 non-null  object
 10  GameRound   1306005 non-null  object
 11  GameRank    1286853 non-null  object
 12  Oponent     1305998 non-null  object
 13  WL          1286832 non-null  object
 14  Score       1286689 non-null  object
dtypes: float64(1), object(14)
memory usage: 149.5+ MB

# <a class='anchor' id='21'></a>

<div style="border: 3px #0371B1; border-style: solid;  
            border-radius: 300px; padding: 20px;">
    <center><h1 style="margin-top: 2px;color: #0371B1; font-size: 20px;
                       font-family: 'Avenir Next LT Pro', sans-serif;"> 2.1 | Vari√°vel Location</h1></center>
</div>

In [3]:
# Import da Base de Dados dos Pa√≠ses
df_countries = pd.read_csv('countries_net.csv')
df_countries

                  Name Code
0    Afghanistan        AF
1    √Öland Islands      AX
2    Albania            AL
3    Algeria            DZ
4    American Samoa     AS
..              ...     ..
244  Wallis and Futuna  WF
245  Western Sahara     EH
246  Yemen              YE
247  Zambia             ZM
248  Zimbabwe           ZW

[249 rows x 2 columns]

In [4]:
# Contar os valores omissos na vari√°vel 'Location'
print('N¬∫ de Valores Omissos:',atp['Location'].isna().sum(), '(', round(atp['Location'].isna().sum()/len(atp['Location']) * 100, 2) ,'%)' )

N¬∫ de Valores Omissos: 0 ( 0.0 %)

In [5]:
# Verificar o n¬∫ de designa√ß√µes distintas para Pa√≠ses (Confirma a necessidade de limpar)
atp['Location'].nunique()

2512

In [6]:
# Criar um novo DataFrame 'df_uniformizar_paises_torneios' com as colunas 'Original' e 'Pais' 
# usando a fun√ß√£o apply() e uma fun√ß√£o lambda que remove o nome do pa√≠s do nascimento antes da v√≠rgula.
df_uniformizar_paises_torneios_excel = pd.DataFrame({
    'Original': atp['Location'],
    'Pais': atp['Location'].apply(lambda x: x.split(',')[-1].strip())
})

df_uniformizar_paises_torneios_excel.sample(5)

                        Original         Pais
514867   Friedberg, Germany       Germany
826917   Amersfoort, Netherlands  Netherlands
751292   Miami, FL, U.S.A.        U.S.A.
1172700  Bogota, Colombia         Colombia
282605   Heraklion, Greece        Greece

In [7]:
# Usar o m√©todo drop_duplicates() do pandas para remover os pa√≠ses duplicados do DataFrame df_uniformizar_paises_torneios
df_uniformizar_paises_torneios_excel.drop_duplicates(subset='Pais', inplace=True)

In [8]:
# Filtrar pa√≠ses n√£o encontrados na coluna 'Name' do df_countries
df_uniformizar_paises_torneios_excel = df_uniformizar_paises_torneios_excel[~df_uniformizar_paises_torneios_excel['Pais'].isin(df_countries['Name'])].copy()
df_uniformizar_paises_torneios_excel.reset_index(drop=True, inplace=True)

In [9]:
# Mostrar apenas os pa√≠ses que n√£o foram encontrados no df_countries
df_uniformizar_paises_torneios_excel[['Original', 'Pais']].groupby('Pais').first().reset_index()

                 Pais                        Original
0    's-Hertogenbosch  's-Hertogenbosch
1    AR                Fayetteville, Fayetteville, AR
2    ARG               Cordoba, ARG
3    Abidjan           Abidjan
4    Alberta           Calgary, Alberta
..       ...                        ...
208  Willemstad        Willemstad
209  Wrocklaw          Wroclaw, Wrocklaw
210  Wuhan             Wuhan
211  Yug.              Belgrade, Yug.
212  Yugoslavia        Belgrade, Yugoslavia

[213 rows x 2 columns]

In [10]:
# Guardar os pa√≠ses a renomear em formato .csv para serem posteriormente trabalhados em Excel
df_uniformizar_paises_torneios_excel.to_csv("Transformar_Paises_Torneios.csv", sep=";")

---

## Caso Particular `TBA`, `TBC` e `TBD`

In [11]:
# Verificar casos 'TBA' (To Be Announced), 'TBC'(To Be Confirmed) e 'TBD'(To Be Determined)
df_TBA_TBC_TBD = atp[atp['Location'].isin(['TBA', 'TBC', 'TBD'])].groupby('Tournament').first().reset_index()
df_TBA_TBC_TBD[['Tournament','Location']]

           Tournament Location
0   Botswana F1        TBA
1   Egypt F1           TBA
2   Egypt F2           TBA
3   Egypt F3           TBA
4   France F13         TBA
5   Great Britain F10  TBC
6   Great Britain F7   TBA
7   Great Britain F9   TBC
8   India F4           TBA
9   India F5           TBA
10  Italy F10          TBA
11  Italy F4           TBA
12  Italy F5           TBA
13  Italy F9           TBA
14  U.S.A. F13         TBA
15  U.S.A. F21         TBA
16  U.S.A. F29         TBA
17  U.S.A. F30         TBD
18  U.S.A. F32         TBA
19  U.S.A. F5          TBA
20  Zimbabwe F1        TBA

> Tal como vis√≠vel no *output* acima, pelo nome de cada torneio √© deduz√≠vel a sua localiza√ß√£o. Desta forma, alter√°mos todas as ocorr√™ncias com essas terminologias para o respetivo pa√≠s em que ocorreu o torneio.

In [12]:
# Associa√ß√£o do TBA, TBC e TBD √† Location correta 
atp.loc[(atp['Location'] == 'TBA') & (atp['Tournament'].str.contains('Botswana')), 'Location'] = 'Botswana'
atp.loc[(atp['Location'] == 'TBA') & (atp['Tournament'].str.contains('Egypt')), 'Location'] = 'Egypt'
atp.loc[(atp['Location'] == 'TBA') & (atp['Tournament'].str.contains('France')), 'Location'] = 'France'
atp.loc[(atp['Location'] == 'TBA') & (atp['Tournament'].str.contains('Great Britain')), 'Location'] = 'United Kingdom'
atp.loc[(atp['Location'] == 'TBA') & (atp['Tournament'].str.contains('India')), 'Location'] = 'India'
atp.loc[(atp['Location'] == 'TBA') & (atp['Tournament'].str.contains('Italy')), 'Location'] = 'Italy'
atp.loc[(atp['Location'] == 'TBA') & (atp['Tournament'].str.contains('U.S.A.')), 'Location'] = 'United States'
atp.loc[(atp['Location'] == 'TBA') & (atp['Tournament'].str.contains('Zimbabwe')), 'Location'] = 'Zimbabwe'

atp['Location'] = atp['Location'].replace({"TBC":"United Kingdom", "TBD":"United States"})

---

## Valores discordantes de `Location`

In [13]:
# Dicion√°rio {designa√ß√£o discordante: designa√ß√£o correta}
uniformizar_paises_torneios = { 
    "'s-Hertogenbosch":"Netherlands",
    "Abidjan":"C√¥te d'Ivoire",
    "Calgary, Alberta":"Canada",
    "Angleur - Liege":"Belgium",
    "Antalya, Antalya":"Turkey",
    "Fayetteville, Fayetteville, AR":"United States",
    "Cordoba, ARG":"Argentina",
    "Buenos Aires, Arg.":"Argentina",
    "Buenos Aires, Argent":"Argentina",
    "St Anton-Tirol, Aut.":"Austria",
    "Bahia":"Brazil",
    "Bakio, Bakio":"Spain",
    "Bangkok":"Thailand",
    "Barcelona":"Spain",
    "Belgrade, Belgrade":"Serbia",
    "Bolivia":"Bolivia, Plurinational State of",
    "Sarajevo, Bosnia":"Bosnia and Herzegovina",
    "Banja Luka, Bosnia &amp; Herzegovina":"Bosnia and Herzegovina",
    "Botwana":"Botswana",
    "Bourg-en-Bresse, Bourg-en-Bresse":"France",
    "Florianopolis, BRA":"Brazil",
    "Brasilia":"Brazil",
    "Bratislava":"Slovakia",
    "Braunschweig":"Germany",
    "Santa Caterina, Braz":"Brazil",
    "Brazi":"Brazil",
    "Birmingham, Britain":"United Kingdom",
    "Brunei":"Brunei Darussalam",
    "Bucharest":"Romania",
    "Buenos Aires":"Argentina",
    "Calgary":"Canada",
    "Rock-Forest, Canda":"Canada",
    "Caribbean":"Puerto Rico",
    "Casablanca":"Morocco",
    "Tao Yuan, Chinese Ta":"Taiwan, Province of China",
    "Taipei, Chinese Taip":"Taiwan, Province of China",
    "Kaohsiung, Chinese Taipei":"Taiwan, Province of China",
    "Ciudad de Habana":"Cuba",
    "Abidjan, CIV":"C√¥te d'Ivoire",
    "Santa de Bogota, Col":"Colombia",
    "Bogota, Columbia":"Colombia",
    "Constanta":"Romania",
    "Veli Losinj, Crotia":"Croatia",
    "Prostejov, CZE":"Czech Republic",
    "Ostrava, Czech Rep.":"Czech Republic",
    "Liberec, Czech Repub":"Czech Republic",
    "Czechoslovakia":"Slovakia",
    "Santo Domingo, D.R.":"Dominican Republic",
    "Delray Beach":"United States",
    "Rungsted Kyst, DEN.":"Denmark",
    "Devon":"United Kingdom",
    "Devonport":"United Kingdom",
    "Doha":"Qatar",
    "Domincan Republic":"Qatar",
    "Dublin":"Ireland",
    "Emmastad, Dutch Anti":"Netherlands",
    "Curacao, Dutch Antil":"Netherlands",
    "Cairo, Egpyt":"Egypt",
    "Elndhoven":"Netherlands",
    "London, England":"United Kingdom",
    "Esch-sur-Alzette, Esch-sur-Alzette":"Luxembourg",
    "Esch/Alzette":"Luxembourg",
    "Estoril":"Portugal",
    "Cairo, Eygpt":"Egypt",
    "Faro":"Portugal",
    "Lautoka, Fiji Island":"Fiji",
    "Florianapolis":"Brazil",
    "Forbach, Forbach":"France",
    "Birmingham, GBR":"United Kingdom",
    "London, Great Britain":"United Kingdom",
    "Guatemala City, GUA":"Guatemala",
    "Guarulhos":"Brazil",
    "Guatemala City":"Guatemala",
    "Guayaquil":"Ecuador",
    "Harare":"Zimbabwe",
    "Ramat, Hasharon":"Israel",
    "Havana":"Cuba",
    "Hong Kong, HKG":"Hong Kong",
    "Hodmezovasarhely, Hu":"Hungary",
    "Szombathely, Hunary":"Hungary",
    "Jakarta, INA":"Indonesia",
    "Kish, Iran":"Iran, Islamic Republic of",
    "Ramat Hasharon, ISR":"Israel",
    "Ramat Hasharon, Isra":"Israel",
    "Torre Del Greco, Ita":"Italy",
    "Abidjan, Ivory Coast":"C√¥te d'Ivoire",
    "Jakarta":"Indonesia",
    "Johannesburg":"Indonesia",
    "Kaohsiung":"Taiwan, Province of China",
    "Kolkata":"India",
    "Changwon, Korea":"Korea, Republic of",
    "Korolev":"Russian Federation",
    "Kuala Lampur":"Malaysia",
    "Lahore":"Pakistan",
    "Laos":"Lao People's Democratic Republic",
    "Lara":"Venezuela, Bolivarian Republic of",
    "Martinique, Lesser Antilles":"Martinique",
    "Liege":"Belgium",
    "London":"United Kingdom",
    "Skopje, Macedona":"Macedonia, the Former Yugoslav Republic of",
    "Skopje, Macedonia":"Macedonia, the Former Yugoslav Republic of",
    "Manila":"Philippines",
    "Manilla":"Philippines",
    "Kuala Lumpur, MAS":"Malaysia",
    "Coatzacoalcos, Meixco":"Mexico",
    "Melilla, Melilla":"Spain",
    "Mexica":"Mexico",
    "Mexico City":"Mexico",
    "Minsk":"Belarus",
    "Chisinau, Moldova":"Moldova, Republic of",
    "Chisinau, Moldovia":"Moldova, Republic of",
    "Monastir, Monastir":"Tunisia",
    "Mondorf-Les-Bains":"Luxembourg",
    "Montevideo":"Uruguay",
    "Moscow":"Russian Federation",
    "Nanjing":"China",
    "Rotterdam, NED":"Netherlands",
    "Nelspruit":"South Africa",
    "Neuchatel":"Switzerland",
    "Noumea, New Caledoni":"New Caledonia",
    "Auckland, New Zealan":"New Zealand",
    "Novaya Kakhovka":"Ukraine",
    "Hamilton, NZ":"Canada",
    "Invercargill, NZL":"New Zealand",
    "Oklahoma City, OK":"United States",
    "Mississauga, Ontaria":"Canada",
    "Pacific Oceania":"Australia",
    "Palma de Mallorca":"Spain",
    "Pau":"France",
    "Pasig City, PHI":"Philippines",
    "Phillipines":"Philippines",
    "Polokwane":"South Africa",
    "Portoroz":"Slovenia",
    "Portschach":"Austria",
    "Presov":"Slovakia",
    "Pretoria":"South Africa",
    "Ramat Hasharon":"Israel",
    "Reggio Calabria":"Italy",
    "Reunion Island, Reunion Island":"France",
    "Rio de Janeiro":"Brazil",
    "Russia":"Russian Federation",
    "Cape Town, SA":"South Africa",
    "Salinas":"United States",
    "El Salvador, Salvador":"El Salvador",
    "El Salvador, San Salvador":"El Salvador",
    "Santa Cruz de la Sie":"Bolivia, Plurinational State of",
    "Chile, Santiago":"Chile",
    "Santo Domingo":"Dominican Republic",
    "Sassari, Sardinia":"Italy",
    "Belgrade, SCG":"Serbia",
    "Glasgow, Scotland":"United Kingdom",
    "Serbia &amp; Montenegro":"Montenegro",
    "Nova Sad, SErgia &amp; M":"Serbia",
    "Sharm El Sheikh":"Egypt",
    "Poprad, Slovak":"Slovakia",
    "Bratislava, Slovak R":"Slovakia",
    "Slovak Republic":"Slovakia",
    "Kosice, Slovkia":"Slovakia",
    "Portoroz, Solvenia":"Slovenia",
    "Doornfontein, South":"South Africa",
    "Durban, South  Africa":"South Africa",
    "Busan, South Korea":"Korea, Republic of",
    "Soviet Union":"Russian Federation",
    "Surabaya":"Indonesia",
    "St.Gallen, Switz.":"Switzerland",
    "Syria":"Syrian Arab Republic",
    "Taipei":"Taiwan, Province of China",
    "Kaohsiung, Taiwan":"Taiwan, Province of China",
    "Tashkent":"Uzbekistan",
    "Burnie, Tasmania":"Australia",
    "Tehran":"Iran, Islamic Republic of",
    "Houston, Texas":"United States",
    "Nonthaburi, THA":"Thailand",
    "The Hague, The Hague":"Netherlands",
    "Amsterdam, The Nethe":"Netherlands",
    "Amsterdam, The Netherlands":"Netherlands",
    "Toluca":"Mexico",
    "Toulouse":"France",
    "Tai-Chung, TPE":"Taiwan, Province of China",
    "Port-of-Spain, TRI":"Trinidad and Tobago",
    "Tunis":"Tunisia",
    "Dubai, U.A.E.":"United Arab Emirates",
    "Columbus, OH, U.S.A":"United States",
    "New York, NY, U.S.A.":"United States",
    "Birmingham, UK":"United Kingdom",
    "Carson, CA, United S":"United States",
    "Montevideo, Uraguay":"Uruguay",
    "Uriage, Uriage":"France",
    "Montevideo, URU":"Uruguay",
    "Urugay":"Uruguay",
    "Las Vegas, NV, USA":"United States",
    "Tashkent, Uzb.":"Uzbekistan",
    "Valldoreix, Valldoreix":"Spain",
    "Venezeuela":"Venezuela, Bolivarian Republic of",
    "Venezuela":"Venezuela, Bolivarian Republic of",
    "Sale, Victoria":"Australia",
    "Ho Chi Minh City, Vietnam":"Viet Nam",
    "Villavicencio":"Colombia",
    "Wrexham, Wales":"United Kingdom",
    "Wellington":"New Zealand",
    "West Perth":"Australia",
    "Wetzlar, Wetzlar":"Germany",
    "Willemstad":"Cura√ßao",
    "Wroclaw, Wrocklaw":"Poland",
    "Wuhan":"China",
    "Belgrade, Yug.":"Serbia",
    "Belgrade, Yugoslavia":"Serbia",
}

## Aplicar

In [14]:
# Uniformiza√ß√£o dos termos conforme os apresentados no dataframe 'df_countries'
atp['Location_Clean'] = atp['Location'].str.strip().replace(uniformizar_paises_torneios)

atp['Location_Clean'] = np.where(atp['Location_Clean'].isin(df_countries['Name']),
                                 atp['Location_Clean'], atp['Location_Clean'].str.split(',').str[-1].str.strip())

In [15]:
# Verifica√ß√£o da Uniformiza√ß√£o
print("N¬∫ de Designa√ß√µes Distintas:",atp['Location_Clean'].nunique())
atp['Location_Clean'].unique()

N¬∫ de Designa√ß√µes Distintas: 176

array(['Spain', 'United Arab Emirates', 'Italy', 'France',
       'United States', 'Japan', 'United Kingdom', 'Serbia', 'Monaco',
       'Australia', 'Austria', 'China', 'U.S.A.', 'Qatar', 'Canada',
       'Great Britain', 'Mexico', 'Brazil', 'Belgium', 'Switzerland',
       'Croatia', 'Netherlands', 'Germany', 'Thailand', 'Slovakia',
       'Russian Federation', 'Portugal', 'Israel', 'Finland',
       'Slovak Republic', 'Romania', 'Hungary', 'Montenegro', 'Russia',
       'Bulgaria', 'India', 'Slovenia', 'Kazakhstan',
       'Taiwan, Province of China', 'Belarus', 'Tunisia', 'Estonia',
       'Georgia', 'Czech Republic', 'Argentina', 'Denmark', 'Chile',
       'Sweden', 'New Zealand', 'Poland', 'Morocco', 'Malaysia', 'Turkey',
       'Colombia', 'Panama', 'San Marino', 'Philippines', 'Guadeloupe',
       'New Caledonia', 'Greece', 'Cyprus', 'Uzbekistan',
       'Dominican Republic', 'Norway', 'USA', 'Ecuador', 'Uruguay',
       'Peru', 'Latvia', 'Luxembourg', 'Lithuania',
       'Bosnia and Herzegovina', 'Korea, Republic of', 'South Korea',
       'Bosnia &amp; Herzegovina', 'Egypt', 'U.S.A', 'Viet Nam',
       'Paraguay', 'Bolivia, Plurinational State of', 'Armenia',
       'Bermuda', 'Singapore', 'South Africa', 'England', 'Togo',
       'Chinese Taipei', 'The Netherlands', 'Ireland', 'Barbados',
       'Costa Rica', 'Guatemala', 'Iran, Islamic Republic of', 'Zimbabwe',
       'Mozambique', 'Nigeria', 'Korea', 'Senegal',
       'Moldova, Republic of', 'Cambodia', 'Bahrain', 'Bolivia',
       'Hong Kong', 'Pakistan', 'Ukraine', 'Vietnam', 'Kuwait',
       'Azerbaijan', 'Sri Lanka', 'Algeria', 'Iran', 'Puerto Rico',
       'El Salvador', 'Venezuela, Bolivarian Republic of', 'Gabon',
       'Indonesia', 'Cuba', 'Venezuela', 'Haiti', 'Andorra', 'Scotland',
       "C√¥te d'Ivoire", 'Mauritius', 'Jamaica', 'Nicaragua', 'Lebanon',
       'Macedonia, the Former Yugoslav Republic of', 'Doha', 'Macedonia',
       'Guam', 'Rwanda', 'Burundi', 'Sudan', 'Uganda', 'Cameroon',
       'U.A.E.', 'Tasmania', 'Crotia', 'Canda', 'Saudi Arabia', 'Kenya',
       'Syrian Arab Republic', 'Belgrade', 'Yugoslavia', 'Honduras',
       'Taipei', 'Ghana', 'Aruba', "Lao People's Democratic Republic",
       'Bolivia/Chile', 'Myanmar', 'Oman', 'Samoa', 'Syria', 'Madagascar',
       'Botswana', 'Trinidad and Tobago', 'Bahamas', 'Namibia', 'Slovak',
       'Tajikistan', 'HKG', 'Jordan', 'Bangladesh', 'NZ', 'COL',
       'Brunei Darussalam', 'Taiwan', 'Czechoslovakia', 'Ivory Coast',
       'Fiji', 'Martinique', 'Malta', 'Cura√ßao', 'Brunei', 'Curacao'],
      dtype=object)

---

In [16]:
# Filtrar pa√≠ses n√£o encontrados no df_countries
atp[~atp['Location_Clean'].isin(df_countries['Name'])][['Location', 'Location_Clean']].groupby('Location_Clean').first().reset_index()

              Location_Clean                          Location
0   Belgrade                  Belgrade
1   Bolivia                   Santa Cruz, Bolivia
2   Bolivia/Chile             Bolivia/Chile
3   Bosnia &amp; Herzegovina  Zenica, Bosnia &amp; Herzegovina
4   Brunei                    Brunei, Brunei
5   COL                       Villavicencio, COL
6   Canda                     Rimouski, Canda
7   Chinese Taipei            Chinese Taipei
8   Crotia                    Valpovo, Crotia
9   Curacao                   Willemstad, Curacao
10  Czechoslovakia            Prague, Czechoslovakia
11  Doha                      Doha, Doha
12  England                   Nottingham, England
13  Great Britain             Eastbourne, Great Britain
14  HKG                       Causeway Bay, HKG
15  Iran                      Iran
16  Ivory Coast               Ivory Coast
17  Korea                     Busan, Korea
18  Macedonia                 Kaarina, Macedonia
19  NZ                        Wellington, NZ
20  Russia                    St. Petersburg, Russia
21  Scotland                  Edinburgh, Scotland
22  Slovak                    Bratislava, Slovak
23  Slovak Republic           Bratislava, Slovak Republic
24  South Korea               Seoul, South Korea
25  Syria                     Damascus, Syria
26  Taipei                    Kaohsiung City, Taipei
27  Taiwan                    Taipei, Taiwan
28  Tasmania                  Devonport, Tasmania
29  The Netherlands           The Netherlands
30  U.A.E.                    U.A.E.
31  U.S.A                     New York, NY, U.S.A
32  U.S.A.                    Cincinnati, OH, U.S.A.
33  USA                       Fairfield, CA, USA
34  Venezuela                 Caracas, Venezuela, Venezuela
35  Vietnam                   Da Nang, Vietnam
36  Yugoslavia                Yugoslavia

> Ficaram ainda **36 designa√ß√µes de pa√≠ses** distintas daquelas que est√£o presentes no `df_countries`. Utilizaremos outras estrat√©gia de seguida.

---

In [17]:
# Casos Particulares - N√£o fez a limpeza com o c√≥digo replace()
atp.loc[atp['Location_Clean'].str.contains("U.S.A.", na=False), 'Location_Clean'] = "United States"
atp.loc[atp['Location_Clean'].str.contains("Great Britain", na=False), 'Location_Clean'] = "United Kingdom"
atp.loc[atp['Location_Clean'].str.contains("Slovak Republic", na=False), 'Location_Clean'] = "Slovakia"
atp.loc[atp['Location_Clean'].str.contains("Russia", na=False), 'Location_Clean'] = "Russian Federation"
atp.loc[atp['Location_Clean'].str.contains("USA", na=False), 'Location_Clean'] = "United States"
atp.loc[atp['Location_Clean'].str.contains("South Korea", na=False), 'Location_Clean'] = "Korea, Republic of"
atp.loc[atp['Location_Clean'].str.contains("Bosnia &amp; Herzegovina", na=False), 'Location_Clean'] = "Bosnia and Herzegovina"
atp.loc[atp['Location_Clean'].str.contains("U.S.A", na=False), 'Location_Clean'] = "United States"
atp.loc[atp['Location_Clean'].str.contains("England", na=False), 'Location_Clean'] = "United Kingdom"
atp.loc[atp['Location_Clean'].str.contains("Chinese Taipei", na=False), 'Location_Clean'] = "Taiwan, Province of China"
atp.loc[atp['Location_Clean'].str.contains("The Netherlands", na=False), 'Location_Clean'] = "Netherlands"
atp.loc[atp['Location_Clean'].str.contains("Korea", na=False), 'Location_Clean'] = "Korea, Republic of"
atp.loc[atp['Location_Clean'].str.contains("Bolivia", na=False), 'Location_Clean'] = "Bolivia, Plurinational State of"
atp.loc[atp['Location_Clean'].str.contains("Vietnam", na=False), 'Location_Clean'] = "Viet Nam"
atp.loc[atp['Location_Clean'].str.contains("Iran", na=False), 'Location_Clean'] = "Iran, Islamic Republic of"
atp.loc[atp['Location_Clean'].str.contains("Venezuela", na=False), 'Location_Clean'] = "Venezuela, Bolivarian Republic of"
atp.loc[atp['Location_Clean'].str.contains("Scotland", na=False), 'Location_Clean'] = "United Kingdom"
atp.loc[atp['Location_Clean'].str.contains("Doha", na=False), 'Location_Clean'] = "Qatar"
atp.loc[atp['Location_Clean'].str.contains("Macedonia", na=False), 'Location_Clean'] = "Macedonia, the Former Yugoslav Republic of"
atp.loc[atp['Location_Clean'].str.contains("U.A.E.", na=False), 'Location_Clean'] = "United Arab Emirates"
atp.loc[atp['Location_Clean'].str.contains("Tasmania", na=False), 'Location_Clean'] = "Australia"
atp.loc[atp['Location_Clean'].str.contains("Crotia", na=False), 'Location_Clean'] = "Croatia"
atp.loc[atp['Location_Clean'].str.contains("Canda", na=False), 'Location_Clean'] = "Canada"
atp.loc[atp['Location_Clean'].str.contains("Belgrade", na=False), 'Location_Clean'] = "Serbia"
atp.loc[atp['Location_Clean'].str.contains("Yugoslavia", na=False), 'Location_Clean'] = "Serbia"
atp.loc[atp['Location_Clean'].str.contains("Taipei", na=False), 'Location_Clean'] = "Taiwan, Province of China"
atp.loc[atp['Location_Clean'].str.contains("Bolivia/Chile", na=False), 'Location_Clean'] = "Chile"
atp.loc[atp['Location_Clean'].str.contains("Syria", na=False), 'Location_Clean'] = "Syrian Arab Republic"
atp.loc[atp['Location_Clean'].str.contains("Slovak", na=False), 'Location_Clean'] = "Slovakia"
atp.loc[atp['Location_Clean'].str.contains("HKG", na=False), 'Location_Clean'] = "United States"
atp.loc[atp['Location_Clean'].str.contains("NZ", na=False), 'Location_Clean'] = "United States"
atp.loc[atp['Location_Clean'].str.contains("COL", na=False), 'Location_Clean'] = "Colombia"
atp.loc[atp['Location_Clean'].str.contains("Taiwan", na=False), 'Location_Clean'] = "Taiwan, Province of China"
atp.loc[atp['Location_Clean'].str.contains("Czechoslovakia", na=False), 'Location_Clean'] = "Slovakia"
atp.loc[atp['Location_Clean'].str.contains("Ivory Coast", na=False), 'Location_Clean'] = "C√¥te d'Ivoire"
atp.loc[atp['Location_Clean'].str.contains("Brunei", na=False), 'Location_Clean'] = "Brunei Darussalam"
atp.loc[atp['Location_Clean'].str.contains("Curacao", na=False), 'Location_Clean'] = "Netherlands"

In [18]:
# Confirma√ß√£o da correta limpeza
atp[~atp['Location_Clean'].isin(df_countries['Name'])][['Location', 'Location_Clean']].groupby('Location_Clean').first().reset_index()

Empty DataFrame
Columns: [Location_Clean, Location]
Index: []

In [19]:
print('N¬∫ de Locations distintos:', atp['Location_Clean'].nunique())

N¬∫ de Locations distintos: 139

> Damos assim por terminada a limpeza da vari√°vel `Location`!!

---

## Restingir aos Jogos √† `Su√©cia`

In [20]:
# Restringir √† Su√©cia
atp_suecia = atp[atp['Location_Clean'] == 'Sweden'].copy().reset_index()

In [21]:
# Eliminar as vari√°veis 'Location' e 'Location_Clean'
atp_suecia.drop(['index','Location','Location_Clean'], axis= 1, inplace= True)

In [22]:
# Verificar os valores n√£o nulos
atp_suecia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12277 entries, 0 to 12276
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PlayerName  12277 non-null  object
 1   Born        9944 non-null   object
 2   Height      10031 non-null  float64
 3   Hand        10904 non-null  object
 4   LinkPlayer  12277 non-null  object
 5   Tournament  12277 non-null  object
 6   Date        12277 non-null  object
 7   Ground      12277 non-null  object
 8   Prize       11843 non-null  object
 9   GameRound   12277 non-null  object
 10  GameRank    12008 non-null  object
 11  Oponent     12277 non-null  object
 12  WL          12008 non-null  object
 13  Score       12008 non-null  object
dtypes: float64(1), object(13)
memory usage: 1.3+ MB

In [23]:
print('N¬∫ de Jogos na Su√©cia:', len(atp_suecia), '(', round(len(atp_suecia)/len(atp) *100, 2),'% do dataset total)')

N¬∫ de Jogos na Su√©cia: 12277 ( 0.94 % do dataset total)

In [24]:
print('N¬∫ de Valores Omissos Inicial:', atp_suecia.isna().any(axis=1).sum(), '(', round(atp_suecia.isna().any(axis=1).sum()/len(atp_suecia) * 100, 2),'% do dataset total)')

N¬∫ de Valores Omissos Inicial: 3132 ( 25.51 % do dataset total)

---

# <a class='anchor' id='22'></a>
<div style="border: 3px #0371B1; border-style: solid;  
            border-radius: 300px; padding: 20px;">
    <center><h1 style="margin-top: 2px;color: #0371B1; font-size: 20px;
                       font-family: 'Avenir Next LT Pro', sans-serif;"> 2.2 | Vari√°vel Tournament</h1></center>
</div>

In [25]:
# Contar os valores omissos na vari√°vel 'Tournament'
print('N¬∫ de Valores Omissos:',atp_suecia['Tournament'].isna().sum(), '(', round(atp_suecia['Tournament'].isna().sum()/len(atp_suecia['Tournament']) * 100, 2) ,'%)' )

N¬∫ de Valores Omissos: 0 ( 0.0 %)

In [26]:
# Valores distintos na vari√°vel 'Tournament'
pd.DataFrame(atp_suecia['Tournament'].value_counts(), columns=['Tournament'])

                                            Tournament
Bastad                                      3082
Stockholm                                   2828
Sweden F2                                   1244
Sweden F1                                   1178
Sweden F3                                   655
...                                         ...
SWE vs. POL - EUROPE ZONE A PRELIMINARY QF  2
SWE vs. ESP - EUROPE ZONE B QF              2
SWE vs. NZL - EUROPE ZONE B 1R              2
SWE vs. HUN - EUROPE ZONE B FINAL           1
SWE vs. ESP - EUROPE ZONE A 1R              1

[89 rows x 1 columns]

> V√°rias designa√ß√µes distintas $\rightarrow$ Agrupamos por nomes gen√©ricos de torneios

In [27]:
# Jogos referentes aos Torneiros "Davis Cup" 
atp_suecia.loc[atp_suecia['Tournament'].str.contains("SWE vs.", na=False), 'Tournament'] = "Davis Cup"
atp_suecia.loc[atp_suecia['Tournament'].str.contains("SWE V", na=False), 'Tournament'] = "Davis Cup"
atp_suecia.loc[atp_suecia['Tournament'].str.contains("SWE F", na=False), 'Tournament'] = "Davis Cup"
atp_suecia.loc[atp_suecia['Tournament'].str.contains("SWE SF", na=False), 'Tournament'] = "Davis Cup"
atp_suecia.loc[atp_suecia['Tournament'].str.contains("SWE v.", na=False), 'Tournament'] = "Davis Cup"
atp_suecia.loc[atp_suecia['Tournament'].str.contains("V SWE", na=False), 'Tournament'] = "Davis Cup"
atp_suecia.loc[atp_suecia['Tournament'].str.contains("v SWE", na=False), 'Tournament'] = "Davis Cup"
atp_suecia.loc[atp_suecia['Tournament'].str.contains("vs. SWE", na=False), 'Tournament'] = "Davis Cup"

# Jogos referentes aos Torneiros "M15" 
atp_suecia.loc[atp_suecia['Tournament'].str.contains("M15", na=False), 'Tournament'] = "M15"

# Jogos referentes aos Torneiros "M25" 
atp_suecia.loc[atp_suecia['Tournament'].str.contains("M25", na=False), 'Tournament'] = "M25"

# Jogos referentes aos Torneiros "Stockholm" 
atp_suecia.loc[atp_suecia['Tournament'].str.contains("ATP Masters 1000 Stockholm", na=False), 'Tournament'] = "Stockholm"
atp_suecia.loc[atp_suecia['Tournament'].str.contains("Stockholm-2", na=False), 'Tournament'] = "Stockholm"

# Jogos referentes aos Torneiros "WCT" 
atp_suecia.loc[atp_suecia['Tournament'].str.contains("WCT", na=False), 'Tournament'] = "WCT"

In [28]:
# Verifica√ß√£o das designa√ß√µes distintas obtidas
pd.DataFrame(atp_suecia['Tournament'].value_counts(), columns=['Tournament'])

            Tournament
Stockholm   3407
Bastad      3082
Sweden F2   1244
Sweden F1   1178
Sweden F3   655
Sweden F4   590
Sweden F5   534
Davis Cup   430
Sweden F6   298
M25         246
M15         174
Sweden F7   174
Jonkoping   110
Bromma      62
Gothenburg  62
WCT         19
Masters     12

In [29]:
# Contar os torneios "Davis Cup"
print('N¬∫ de Torneios "Davis Cup":',atp_suecia['Tournament'].str.contains("Davis Cup").sum(), '(', round(atp_suecia['Tournament'].str.contains("Davis Cup").sum()/len(atp_suecia['Tournament']) * 100, 2) ,'%)' )

N¬∫ de Torneios "Davis Cup": 430 ( 3.5 %)

In [30]:
# Eliminar os torneios "Davis Cup"
atp_suecia = atp_suecia[~atp_suecia['Tournament'].str.contains("Davis Cup")]

---

# <a class='anchor' id='23'></a>

<div style="border: 3px #0371B1; border-style: solid;  
            border-radius: 300px; padding: 20px;">
    <center><h1 style="margin-top: 2px;color: #0371B1; font-size: 20px;
                       font-family: 'Avenir Next LT Pro', sans-serif;"> 2.3 | Vari√°vel Date</h1></center>
</div>

In [31]:
# Contar os valores omissos na vari√°vel 'Date'
atp_suecia['Date'].isnull().sum()

0

In [32]:
# Usamos o m√©todo str.len() para obter o comprimento de cada valor na coluna 'Date' 
# e, em seguida, o m√©todo unique() para obter os valores √∫nicos
atp_suecia['Date'].str.len().unique()

array([23, 10], dtype=int64)

In [33]:
# Formato 'aaaa.mm.dd' & 'aaaa.mm.dd - aaaa.mm.dd'

# Transformar a coluna Date em 'Tournament_Start_Date' e 'Tournament_End_Date'
atp_suecia[['Tournament_Start_Date', 'Tournament_End_Date']] = atp_suecia['Date'].str.split('-', expand=True)
atp_suecia['Tournament_Start_Date'] = atp_suecia['Tournament_Start_Date'].str.strip()
atp_suecia['Tournament_End_Date'] = atp_suecia['Tournament_End_Date'].str.strip()

# Nos casos em que Tournament_Start_Date e Tournament_End_Date s√£o os mesmos
atp_suecia['Tournament_End_Date'].fillna(atp_suecia['Tournament_Start_Date'], inplace=True)

In [34]:
# Verificar que ambas as datas t√™m 10 caracteres (o correspondete ao formato aaaa.mm.dd) 
print('N¬∫ de Caracteres do Tournament_Start_Date:',atp_suecia['Tournament_Start_Date'].str.len().unique())
print('N¬∫ de Caracteres do Tournament_End_Date:',atp_suecia['Tournament_End_Date'].str.len().unique())
print('Formato: aaaa.mm.dd')

N¬∫ de Caracteres do Tournament_Start_Date: [10]
N¬∫ de Caracteres do Tournament_End_Date: [10]
Formato: aaaa.mm.dd

In [35]:
# Transforma as colunas 'Tournament_Start_Date' e 'Tournament_End_Date' em formato de data
atp_suecia['Tournament_Start_Date'] = pd.to_datetime(atp_suecia['Tournament_Start_Date'], format='%Y.%m.%d')
atp_suecia['Tournament_End_Date'] = pd.to_datetime(atp_suecia['Tournament_End_Date'], format='%Y.%m.%d')

In [36]:
# Verificar a limpeza
atp_suecia[['Date', 'Tournament_Start_Date','Tournament_End_Date']].sample(5)

                          Date Tournament_Start_Date Tournament_End_Date
8737   1998.09.21 - 1998.09.27 1998-09-21            1998-09-27
3021   2017.09.25 - 2017.10.01 2017-09-25            2017-10-01
8329   2002.09.16 - 2002.09.22 2002-09-16            2002-09-22
8303   2000.09.18 - 2000.09.24 2000-09-18            2000-09-24
11912  2015.10.19 - 2015.10.25 2015-10-19            2015-10-25

In [37]:
# Confirmar a altera√ß√£o do tipo de dados para 'datetime'
atp_suecia[['Date', 'Tournament_Start_Date','Tournament_End_Date']].dtypes

Date                     object
Tournament_Start_Date    datetime64[ns]
Tournament_End_Date      datetime64[ns]
dtype: object

In [38]:
# Remover a coluna Tournament_Date
atp_suecia.drop('Date', axis=1, inplace=True)

In [39]:
# Verificar o intervalo de Anos que estamos a trabalhar
start_date_min = atp_suecia['Tournament_Start_Date'].min().strftime('%Y-%m-%d')
end_date_max = atp_suecia['Tournament_End_Date'].max().strftime('%Y-%m-%d')

print("Os jogos em estudo est√£o compreendidos no intervalo temporal [", start_date_min, ";", end_date_max, "]")

Os jogos em estudo est√£o compreendidos no intervalo temporal [ 1969-07-07 ; 2021-11-13 ]

# <a class='anchor' id='24'></a>

<div style="border: 3px #0371B1; border-style: solid;  
            border-radius: 300px; padding: 20px;">
    <center><h1 style="margin-top: 2px;color: #0371B1; font-size: 20px;
                       font-family: 'Avenir Next LT Pro', sans-serif;"> 2.4 | Vari√°vel Ground</h1></center>
</div>

In [40]:
# Contar os valores omissos na vari√°vel 'Ground'
print('N¬∫ de Valores Omissos:',atp_suecia['Ground'].isna().sum(), '(', round(atp_suecia['Ground'].isna().sum()/len(atp_suecia['Ground']) * 100, 2) ,'%)' )

N¬∫ de Valores Omissos: 0 ( 0.0 %)

In [41]:
# Valores distintos na vari√°vel 'Ground'
pd.DataFrame(atp_suecia['Ground'].value_counts(dropna = False))

        Ground
Hard    6425
Clay    4599
Carpet  823

> N√£o existem torneiros jogados em terrenos do tipo `Grass` (relva natural).

# <a class='anchor' id='25'></a>

<div style="border: 3px #0371B1; border-style: solid;  
            border-radius: 300px; padding: 20px;">
    <center><h1 style="margin-top: 2px;color: #0371B1; font-size: 20px;
                       font-family: 'Avenir Next LT Pro', sans-serif;"> 2.5 | Vari√°vel Prize</h1></center>
</div>

In [42]:
# Contar os valores omissos na vari√°vel 'Prize'
print('N¬∫ de Valores Omissos:',atp_suecia['Prize'].isna().sum(), '(', round(atp_suecia['Prize'].isna().sum()/len(atp_suecia['Prize']) * 100, 3) ,'%)' )

N¬∫ de Valores Omissos: 4 ( 0.034 %)

In [43]:
# Verificar os casos sem 'Prize'
atp_suecia[atp_suecia['Prize'].isna()]

,PlayerName,Born,Height,Hand,LinkPlayer,Tournament,Ground,Prize,GameRound,GameRank,Oponent,WL,Score,Tournament_Start_Date,Tournament_End_Date
11579,Jan Kodes,"Prague, Czech Republic",175.0,"Right-Handed, Unknown Backhand",https://www.atptour.com/en/players/jan-kodes/k049/player-activity?year=all&matchType=Singles,Bastad,Clay,NaN,Semi-Finals,-,Manuel Santana,L,46 61 57 64 26,1969-07-07,1969-07-13
11580,Jan Kodes,"Prague, Czech Republic",175.0,"Right-Handed, Unknown Backhand",https://www.atptour.com/en/players/jan-kodes/k049/player-activity?year=all&matchType=Singles,Bastad,Clay,NaN,Quarter-Finals,-,Patricio Rodriguez,W,64 62 64,1969-07-07,1969-07-13
11581,Jan Kodes,"Prague, Czech Republic",175.0,"Right-Handed, Unknown Backhand",https://www.atptour.com/en/players/jan-kodes/k049/player-activity?year=all&matchType=Singles,Bastad,Clay,NaN,Round of 16,-,William Alvarez,W,36 64 62 63,1969-07-07,1969-07-13
11582,Jan Kodes,"Prague, Czech Republic",175.0,"Right-Handed, Unknown Backhand",https://www.atptour.com/en/players/jan-kodes/k049/player-activity?year=all&matchType=Singles,Bastad,Clay,NaN,Round of 32,-,Unknown Unknown,W,(W/O),1969-07-07,1969-07-13

> Os **3 casos de valores omissos** n√£o t√™m pr√©mio no site, por isso opt√°mos por **eliminar**.

In [44]:
# Eliminar os 3 valores nulos da vari√°vel 'Prize'
atp_suecia.dropna(subset=['Prize'], inplace = True)
print(atp_suecia['Prize'].isna().sum())

0

In [45]:
# Verificar os valores distintos da vari√°vel 'Prize'
print('N¬∫ de Valores distintos:',atp_suecia['Prize'].nunique())
pd.DataFrame(atp_suecia['Prize'].sort_values().unique(), columns=['Prize'])

N¬∫ de Valores distintos: 63

         Prize
0   $1,040,000
1   $1,400,000
2   $1,470,000
3   $10,000
4   $100,000
..       ...
58  ÔøΩ566,525
59  ÔøΩ589,185
60  ÔøΩ612,755
61  ÔøΩ635,750
62  ÔøΩ692,000

[63 rows x 1 columns]

In [46]:
# Assosicar o s√≠mbolo "ÔøΩ" para 'EUR' e '$' para 'USD'
atp_suecia['Prize_Coin'] = np.where(pd.isna(atp_suecia['Prize']), np.nan, 
                                    np.where(atp_suecia['Prize'].str.contains('ÔøΩ'), 'EUR',
                                             np.where(atp_suecia['Prize'].str.contains('$'), 'USD', np.nan)))
# Eliminar os simbolos da coluna 'Prize'
atp_suecia['Prize_Clean'] = atp_suecia['Prize'].str.replace("ÔøΩ", '').str.replace("$", '').str.replace(",", "")

In [47]:
# Converter para tipo num√©rico
atp_suecia['Prize_Clean'] = pd.to_numeric(atp_suecia['Prize_Clean'])

### Converter `EUR` para `USD`

- https://towardsdatascience.com/how-to-get-free-historical-and-live-stock-prices-and-fx-rates-using-python-part-i-a7718f0a4e4

In [48]:
atp_suecia['Prize_Coin'].unique()

array(['USD', 'EUR'], dtype=object)

In [49]:
start_date = atp_suecia.query('Prize_Coin == "EUR"')['Tournament_Start_Date'].min().strftime('%Y-%m-%d')
end_date = atp_suecia.query('Prize_Coin == "EUR"')['Tournament_Start_Date'].max().strftime('%Y-%m-%d')

print('Os torneios com valor do pr√©mio em ‚Ç¨ est√° compreendidos entre', start_date, "e", end_date, ".")

Os torneios com valor do pr√©mio em ‚Ç¨ est√° compreendidos entre 2008-07-07 e 2021-11-08 .

In [50]:
# pip install pandas_datareader
# pip install yfinance

In [51]:
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yf

# Guarda o hist√≥rico de Taxas de C√¢mbio do Yahoo Finance de 'EUR' para 'USD'
yf.pdr_override()
start_date = atp_suecia.query('Prize_Coin == "EUR"')['Tournament_Start_Date'].min().strftime('%Y-%m-%d')
end_date = atp_suecia.query('Prize_Coin == "EUR"')['Tournament_Start_Date'].max().strftime('%Y-%m-%d')
fx_rates = pdr.get_data_yahoo("EURUSD=X", start=start_date, end=end_date)

# Criar um novo √≠ndice com todas as datas entre start_date e end_date - Garantir que n√£o h√° gaps de dias
new_index = pd.date_range(start=start_date, end=end_date, freq='D')

# Reindexar o DataFrame fx_rates com o novo √≠ndice e preencher os valores faltantes com NaN
fx_rates = fx_rates.reindex(new_index)

# Guarantir que todos os dias t√™m taxas de cambio (considerar o valor do dia anterior)
fx_rates = fx_rates.ffill()

fx_rates.head(2)

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close  Volume
2008-07-07  1.570500  1.574902  1.561597  1.572006  1.572006   0.0
2008-07-08  1.541806  1.550195  1.531394  1.533390  1.533390   0.0

In [52]:
# Fun√ß√£o para converter 'EUR' em 'USD' (caso contr√°rio deixa o valor que j√° estava)
def convert_currency(value, date, currency):
    if currency == 'EUR':
        fx_rate = fx_rates.loc[date]["Close"]
        return round(value * fx_rate, 0)
    else:
        return value

In [53]:
# Aplica a convers√£o de moedas usando a fun√ß√£o "convert_currency" nos Prize_Coin 'EUR'
atp_suecia['Prize_USD'] = atp_suecia.apply(lambda row: convert_currency(row['Prize_Clean'], 
                                                                        row['Tournament_Start_Date'], 
                                                                        row['Prize_Coin']), axis=1)

In [54]:
atp_suecia.sample(3)

,PlayerName,Born,Height,Hand,LinkPlayer,Tournament,Ground,Prize,GameRound,GameRank,Oponent,WL,Score,Tournament_Start_Date,Tournament_End_Date,Prize_Coin,Prize_Clean,Prize_USD
888,Elias Ymer,"Skara, Sweden",185.0,"Right-Handed, Two-Handed Backhand",https://www.atptour.com/en/players/elias-ymer/y218/player-activity?year=all&matchType=Singles,Bastad,Clay,"ÔøΩ482,060",Round of 32,39,Fernando Verdasco,L,64 36 46,2017-07-17,2017-07-23,EUR,482060,553183.0
106,Pablo Carreno Busta,"Gijon, Spain",188.0,"Right-Handed, Two-Handed Backhand",https://www.atptour.com/en/players/pablo-carreno-busta/cd85/player-activity?year=all&matchType=Singles,Bastad,Clay,"ÔøΩ501,345",Round of 32,NaN,bye,NaN,NaN,2018-07-16,2018-07-22,EUR,501345,585526.0
11716,Andrea Arnaboldi,"Milan, Italy",180.0,"Left-Handed, One-Handed Backhand",https://www.atptour.com/en/players/andrea-arnaboldi/a622/player-activity?year=all&matchType=Singles,Bastad,Clay,"ÔøΩ439,405",2nd Round Qualifying,1038,Dragos Nicolae Madaras,W,75 62,2015-07-20,2015-07-26,EUR,439405,475886.0

### Infla√ß√£o

- Tem em conta o `√çndice de Pre√ßos do Consumidor`

**Fontes:** 

- https://palewi.re/docs/cpi/#working-with-pandas
- https://medium.com/analytics-vidhya/adjusting-for-inflation-when-analysing-historical-data-with-python-9d69a8dcbc27
- https://towardsdatascience.com/the-easiest-way-to-adjust-your-data-for-inflation-in-python-365490c03969

In [55]:
# pip install cpi

In [56]:
import cpi

# Ajustar valores pela Infla√ß√£o - adjusted_value = cpi.inflate(nominal_value, year_for_nominal_value)
# ------------------------- real_dollars = (current_dollars * cpi_new) / cpi_old -------------------------
atp_suecia['Prize_USD_inflation_adjusted'] = atp_suecia.apply(lambda row: round(cpi.inflate(row['Prize_USD'],
                                                                                            row['Tournament_Start_Date'].year),0), axis=1)

In [57]:
# Visualiz√£o dos resultados
atp_suecia.sample(2)

,PlayerName,Born,Height,Hand,LinkPlayer,Tournament,Ground,Prize,GameRound,GameRank,Oponent,WL,Score,Tournament_Start_Date,Tournament_End_Date,Prize_Coin,Prize_Clean,Prize_USD,Prize_USD_inflation_adjusted
6178,Johan Backstrom,NaN,NaN,"Right-Handed, Two-Handed Backhand",https://www.atptour.com/en/players/johan-backstrom/bj56/player-activity?year=all&matchType=Singles,Bastad,Clay,"ÔøΩ433,770",1st Round Qualifying,1480,Daniel Windahl,L,06 26,2013-07-08,2013-07-14,EUR,433770,556486.0,699092.0
556,Mikael Ymer,"Skovde, Sweden",183.0,"Right-Handed, Two-Handed Backhand",https://www.atptour.com/en/players/mikael-ymer/y268/player-activity?year=all&matchType=Singles,Sweden F4,Hard,"$15,000",Round of 32,390,Maxim Dubarenco,W,63 75,2014-09-15,2014-09-21,USD,15000,15000.0,18543.0

In [58]:
# Eliminar as colunas auxiliares desnecess√°rias
atp_suecia.drop(['Prize','Prize_Coin','Prize_Clean','Prize_USD'], axis= 1, inplace= True)
atp_suecia = atp_suecia.rename({'Prize_USD_inflation_adjusted':'Prize'},axis=1)

In [59]:
# Alterar o tipo de dados da vari√°vel 'Prize' para inteiro em vez de string
atp_suecia['Prize'] = atp_suecia['Prize'].astype('Int64')
atp_suecia['Prize'].info()

<class 'pandas.core.series.Series'>
Int64Index: 11843 entries, 0 to 12275
Series name: Prize
Non-Null Count  Dtype
--------------  -----
11843 non-null  Int64
dtypes: Int64(1)
memory usage: 196.6 KB

In [60]:
# Valor m√°ximo e m√≠nimo de pr√©mio ganho
pd.DataFrame(atp_suecia['Prize'].describe()).transpose()

,count,mean,std,min,25%,50%,75%,max
Prize,11843.0,503275.735709,606297.495048,12194.0,17566.0,450833.0,771498.0,2902853.0

---

# <a class='anchor' id='26'></a>

<div style="border: 3px #0371B1; border-style: solid;  
            border-radius: 300px; padding: 20px;">
    <center><h1 style="margin-top: 2px;color: #0371B1; font-size: 20px;
                       font-family: 'Avenir Next LT Pro', sans-serif;"> 2.6 | Vari√°vel GameRound</h1></center>
</div>

In [61]:
# Verificar os valores distintos da vari√°vel 'GameRound'
print('N¬∫ de Valores distintos:',atp_suecia['GameRound'].nunique())

N¬∫ de Valores distintos: 10

In [62]:
# Contagem das ocorrencias da vari√°vel 'GameRound'
pd.DataFrame(atp_suecia['GameRound'].value_counts())

                      GameRound
Round of 32           4970
Round of 16           2630
Quarter-Finals        1330
1st Round Qualifying  756
Semi-Finals           670
Round of 64           575
2nd Round Qualifying  407
Finals                339
3rd Round Qualifying  157
Round Robin           9

# <a class='anchor' id='27'></a>

<div style="border: 3px #0371B1; border-style: solid;  
            border-radius: 300px; padding: 20px;">
    <center><h1 style="margin-top: 2px;color: #0371B1; font-size: 20px;
                       font-family: 'Avenir Next LT Pro', sans-serif;"> 2.7 | Vari√°vel WL</h1></center>
</div>

In [63]:
# Verificar os valores distintos da vari√°vel 'WL'
print('N¬∫ de Valores distintos:',atp_suecia['WL'].nunique())
atp_suecia['WL'].unique()

N¬∫ de Valores distintos: 2

array(['L', 'W', nan], dtype=object)

In [64]:
# Contagem das ocorrencias da vari√°vel 'WL'
pd.DataFrame(atp_suecia['WL'].value_counts())

     WL
W  5944
L  5630

In [65]:
# Contagem dos valores nulos
print('N¬∫ de Valores Omissos (= Jogos sem tomada de decis√£o):',atp_suecia['WL'].isna().sum(), '(', round(atp_suecia['WL'].isna().sum()/len(atp_suecia['WL']) * 100, 2) ,'%)' )

N¬∫ de Valores Omissos (= Jogos sem tomada de decis√£o): 269 ( 2.27 %)

In [66]:
# Verificar que h√° jogos em que tal ocorre porque Opponent == 'bye'
atp_suecia[atp_suecia['Oponent'] == 'bye'].iloc[0:1]

,PlayerName,Born,Height,Hand,LinkPlayer,Tournament,Ground,GameRound,GameRank,Oponent,WL,Score,Tournament_Start_Date,Tournament_End_Date,Prize
16,Alexander Zverev,"Hamburg, Germany",198.0,"Right-Handed, Two-Handed Backhand",https://www.atptour.com/en/players/alexander-zverev/z355/player-activity?year=all&matchType=Singles,Stockholm,Hard,Round of 32,NaN,bye,NaN,NaN,2016-10-17,2016-10-23,757653

In [67]:
# Eliminar os jogos sem tomada de decis√£o
atp_suecia.dropna(subset=['WL'], inplace = True)
print(atp_suecia['WL'].isna().sum())

0

# <a class='anchor' id='28'></a>

<div style="border: 3px #0371B1; border-style: solid;  
            border-radius: 300px; padding: 20px;">
    <center><h1 style="margin-top: 2px;color: #0371B1; font-size: 20px;
                       font-family: 'Avenir Next LT Pro', sans-serif;"> 2.8 | Vari√°vel Score</h1></center>
</div>

In [68]:
# Verificar os valores distintos da vari√°vel 'GameRound'
print('N¬∫ de Valores distintos:',atp_suecia['Score'].nunique())
atp_suecia['Score'].unique()

N¬∫ de Valores distintos: 1423

array(['46 67', '64 62', '63 63', ..., '75 (RET)', '16 63 60', '62 16 63'],
      dtype=object)

In [69]:
# Verifica√ß√£o que j√° n√£o existem valores omissos (uma vez que j√° limpamos os WL nulos)
atp_suecia['Score'].isnull().sum()

0

In [70]:
# Verificar casos que cont√©m '-'
atp_suecia[atp_suecia['Score'].str.contains('-')].head(2)

Empty DataFrame
Columns: [PlayerName, Born, Height, Hand, LinkPlayer, Tournament, Ground, GameRound, GameRank, Oponent, WL, Score, Tournament_Start_Date, Tournament_End_Date, Prize]
Index: []

In [71]:
# Remover a designa√ß√£o espa√ßos duplos e virgulas
atp_suecia["Score"] = atp_suecia["Score"].str.replace(",", "")
atp_suecia["Score"] = atp_suecia["Score"].str.replace("  ", " ")

In [72]:
# Casos Particulares com pontua√ß√µes em milhares
atp_suecia.loc[atp_suecia['Score'].str.contains("12-1426 46", na=False), 'Score'] = "12-14 26 46"
atp_suecia.loc[atp_suecia['Score'].str.contains("10-1226 79", na=False), 'Score'] = "10-12 26 79"
atp_suecia.loc[atp_suecia['Score'].str.contains("11-1346 36", na=False), 'Score'] = "11-13 46 36"
atp_suecia.loc[atp_suecia['Score'].str.contains("62 11-1336 63 06", na=False), 'Score'] = "62 11-13 36 63 06"
atp_suecia.loc[atp_suecia['Score'].str.contains("14-1262 64", na=False), 'Score'] = "14-12 62 64"
atp_suecia.loc[atp_suecia['Score'].str.contains("46 46 10-863 46", na=False), 'Score'] = "46 46 10-8 63 46"
atp_suecia.loc[atp_suecia['Score'].str.contains("8-1016 62 64 86", na=False), 'Score'] = "8-10 16 62 64 86"
atp_suecia.loc[atp_suecia['Score'].str.contains("46 10-862", na=False), 'Score'] = "46 10-8 62"
atp_suecia.loc[atp_suecia['Score'].str.contains("11-1336 46", na=False), 'Score'] = "11-13 36 46"
atp_suecia.loc[atp_suecia['Score'].str.contains("26 13-1163 36 60", na=False), 'Score'] = "26 13-11 63 36 60"
atp_suecia.loc[atp_suecia['Score'].str.contains("10-861 26 46 68", na=False), 'Score'] = "10-8 61 26 46 68"
atp_suecia.loc[atp_suecia['Score'].str.contains("12-1062 97", na=False), 'Score'] = "12-10 62 97"
atp_suecia.loc[atp_suecia['Score'].str.contains("64 64 8-1036 64", na=False), 'Score'] = "64 64 8-10 36 64"

In [73]:
# Verificar os valores distintos da vari√°vel 'GameRound'
print('N¬∫ de Valores distintos:',atp_suecia['Score'].nunique())
atp_suecia['Score'].unique()

N¬∫ de Valores distintos: 1308

array(['46 67', '64 62', '63 63', ..., '75 (RET)', '16 63 60', '62 16 63'],
      dtype=object)

In [74]:
# Ocorrencias de (W/O)
print("N¬∫ de '(W/O):'", atp_suecia['Score'].str.contains("(W/O)").sum(), '(', round(atp_suecia['Score'].str.contains("(W/O)").sum()/len(atp_suecia['Score']) * 100, 2) ,'%)')

# Atribuir NaN a '(W/O)' e eliminar valores omissos
atp_suecia.loc[atp_suecia['Score'].str.contains("(W/O)", na=False), 'Score'] = np.nan
print('N¬∫ de Valores Omissos', atp_suecia['Score'].isnull().sum())

atp_suecia.dropna(subset=['Score'], inplace = True)

N¬∫ de '(W/O):' 66 ( 0.57 %)
N¬∫ de Valores Omissos 66

---

In [75]:
# Contar o N¬∫ de '(RET)'
print('N¬∫ de "(RET)":',atp_suecia['Score'].str.contains("(RET)").sum(), '(', round(atp_suecia['Score'].str.contains("(RET)").sum()/len(atp_suecia['Score']) * 100, 2) ,'%)' )

N¬∫ de "(RET)": 275 ( 2.39 %)

----

## Contar o `N¬∫ de Sets`

In [76]:
# Fun√ß√£o para contar o n¬∫ de sets
def count_sets(score):
    if " (RET)" in score:           # Caso tenha ' (RET)'
        score = score.split()[:-1] # Remove o √∫ltimo set abandonado
    else:
        score = score.split()
    return len(score)

In [77]:
# Criar a Vari√°vel 'N_Sets' aplicando a fun√ß√£o 'count_sets'
atp_suecia['N_Sets'] = atp_suecia.apply(lambda row: count_sets(row['Score']), axis=1)
atp_suecia.sample(2) # Verifica√ß√£o

,PlayerName,Born,Height,Hand,LinkPlayer,Tournament,Ground,GameRound,GameRank,Oponent,WL,Score,Tournament_Start_Date,Tournament_End_Date,Prize,N_Sets
11808,Baptiste Crepatte,"Grenoble, France",185.0,"Right-Handed, Unknown Backhand",https://www.atptour.com/en/players/baptiste-crepatte/cm79/player-activity?year=all&matchType=Singles,M25,Hard,Round of 32,1221,Daniil Glinka,L,64 26 46,2019-09-30,2019-10-06,28618,3
2934,Franko Skugor,"Sibenik, Croatia",196.0,"Right-Handed, Two-Handed Backhand",https://www.atptour.com/en/players/franko-skugor/sf76/player-activity?year=all&matchType=Singles,Bastad,Clay,3rd Round Qualifying,717,Carl Bergman,W,61 62,2010-07-12,2010-07-18,672930,2

In [78]:
# Contagem dos casos distintos do N¬∫ de Sets
pd.DataFrame(atp_suecia['N_Sets'].value_counts())

   N_Sets
2  7774
3  3623
1  91
4  15
5  5

---

# üíæ Guardar dataset com jogos realizados na Su√©cia

In [79]:
# Informa√ß√µes do dataset 'atp_suecia'
atp_suecia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11508 entries, 0 to 12275
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PlayerName             11508 non-null  object
 1   Born                   9195 non-null   object
 2   Height                 9283 non-null   float64
 3   Hand                   10144 non-null  object
 4   LinkPlayer             11508 non-null  object
 5   Tournament             11508 non-null  object
 6   Ground                 11508 non-null  object
 7   GameRound              11508 non-null  object
 8   GameRank               11508 non-null  object
 9   Oponent                11508 non-null  object
 10  WL                     11508 non-null  object
 11  Score                  11508 non-null  object
 12  Tournament_Start_Date  11508 non-null  datetime64[ns]
 13  Tournament_End_Date    11508 non-null  datetime64[ns]
 14  Prize                  11508 non-null  Int64
 15  N_Sets                 11508 non-null  int64
dtypes: Int64(1), datetime64[ns](2), float64(1), int64(1), object(11)
memory usage: 1.5+ MB

In [80]:
# Reorganizar o dataset e eliminar a coluna 'Score'
# atp_suecia = atp_suecia.reindex(columns=['PlayerName','LinkPlayer','Born','Height','Hand','Oponent','Tournament','Tournament_Start_Date','Tournament_End_Date','Prize','Ground','GameRound','WL','N_Sets'])
atp_suecia = atp_suecia.reindex(columns=['PlayerName','LinkPlayer','Born','Height','Hand','Oponent','GameRank','Tournament','Tournament_Start_Date','Tournament_End_Date','Prize','Ground','GameRound','WL','N_Sets'])
atp_suecia = atp_suecia.rename(columns={"Oponent": "Opponent"})
atp_suecia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11508 entries, 0 to 12275
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PlayerName             11508 non-null  object
 1   LinkPlayer             11508 non-null  object
 2   Born                   9195 non-null   object
 3   Height                 9283 non-null   float64
 4   Hand                   10144 non-null  object
 5   Opponent               11508 non-null  object
 6   GameRank               11508 non-null  object
 7   Tournament             11508 non-null  object
 8   Tournament_Start_Date  11508 non-null  datetime64[ns]
 9   Tournament_End_Date    11508 non-null  datetime64[ns]
 10  Prize                  11508 non-null  Int64
 11  Ground                 11508 non-null  object
 12  GameRound              11508 non-null  object
 13  WL                     11508 non-null  object
 14  N_Sets                 11508 non-null  int64
dtypes: Int64(1), datetime64[ns](2), float64(1), int64(1), object(10)
memory usage: 1.4+ MB

In [81]:
# Guardar o dataset com os jogadores limpos
atp_suecia.to_csv('atp_suecia.csv', index= False)

---